<!--header-action-box-->
<div class="header-action-box">
	<a href="" class="header-action">Наша новая осенняя коллекция</a>
</div><!--/header-action-box-->

<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="header-main-panel">
			<div class="logo-wrap">
				<a href="" class="logo">
					<img src="./img/main/logo-title.png" alt="">
				</a>
			</div>
			<div class="actions-wrap actions-locale">
				<div class="action-wrap action-lang">
					<a href="" class="btn-action-lang">
						<span class="button-ico">
							<img src="./img/icons/lang.svg" alt="">
						</span>
						<span class="button-title">ru</span>
					</a>
				</div>
				<div class="action-wrap action-select js-popup-wrap">
					<a href="" class="btn-action-toggle btn-popup-open js-btn-popup-toggle">Русский</a>
					<div class="popup-content-block js-popup-block">
						<ul class="menu">
							<li><a href="">English</a></li>
							<li><a href="">Русский</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="actions-wrap actions-main">
				<div class="action-wrap action-search">
					<a href="" class="btn-action-ico ico-search"></a>
				</div>
				<div class="action-wrap action-location">
					<a href="" class="btn-action-ico ico-location"></a>
				</div>
				<div class="action-wrap action-user">
					<a href="" class="btn-action-ico ico-user"></a>
				</div>
				<div class="action-wrap action-cart">
					<a href="" class="btn-action-ico ico-cart" data-count="10"></a>
				</div>
			</div>
		</div>
		<div class="header-menu-panel main-menu-wrap js-popup-wrap">
			<a href="" class="btn-action-ico ico-menu btn-popup-open js-btn-popup-toggle"></a>
			<div class="popup-content-block js-popup-block">
				<div class="menu-wrap">
					<ul class="menu">
						<li>
							<a href=""><span class="button-title">New in</span></a>
						</li>
						<li>
							<a href=""><span class="button-title">Сумки</span></a>
							<div class="submenu-inner-wrap">
								<div class="submenu-wrap">
									<div class="submenu-title">Сумки</div>
									<ul>
										<li><a href="">Сумки</a></li>
										<li><a href="">Клачи</a></li>
										<li><a href="">Кросбоди</a></li>
										<li><a href="">Рюкзаки</a></li>
										<li><a href="">Тоуты</a></li>
										<li><a href="">Hobo</a></li>
										<li><a href="">Косметички</a></li>
									</ul>
								</div>
								<div class="submenu-info-wrap">
									<div class="elm-photo">
										<img src="./img/submenu.jpg" alt="">
									</div>
									<div class="submenu-title">Сумки</div>
									<p>Благодаря обновленной эстетике фирменный стиль Furla сочетает в себе лаконичность и минималистичную элегантность. Эти сумки сидят точно по фигуре, как сшитый на заказ костюм.</p>
									<a href="" class="btn">купить</a>
								</div>
							</div>
						</li>
						<li>
							<a href=""><span class="button-title">Обувь</span></a>
							<div class="submenu-inner-wrap">
								<div class="submenu-wrap">
									<div class="submenu-title">Обувь</div>
									<ul>
										<li><a href="">Сумки</a></li>
										<li><a href="">Клачи</a></li>
										<li><a href="">Кросбоди</a></li>
										<li><a href="">Рюкзаки</a></li>
										<li><a href="">Тоуты</a></li>
										<li><a href="">Hobo</a></li>
										<li><a href="">Косметички</a></li>
									</ul>
								</div>
								<div class="submenu-info-wrap">
									<div class="elm-photo">
										<img src="./img/submenu.jpg" alt="">
									</div>
									<div class="submenu-title">Обувь</div>
									<p>Благодаря обновленной эстетике фирменный стиль Furla сочетает в себе лаконичность и минималистичную элегантность. Эти сумки сидят точно по фигуре, как сшитый на заказ костюм.</p>
									<a href="" class="btn">купить</a>
								</div>
							</div>
						</li>
						<li>
							<a href=""><span class="button-title">Часы</span></a>
							<div class="submenu-inner-wrap">
								<div class="submenu-wrap">
									<div class="submenu-title">Часы</div>
									<ul>
										<li><a href="">Сумки</a></li>
										<li><a href="">Клачи</a></li>
										<li><a href="">Кросбоди</a></li>
										<li><a href="">Рюкзаки</a></li>
										<li><a href="">Тоуты</a></li>
										<li><a href="">Hobo</a></li>
										<li><a href="">Косметички</a></li>
									</ul>
								</div>
								<div class="submenu-info-wrap">
									<div class="elm-photo">
										<img src="./img/submenu.jpg" alt="">
									</div>
									<div class="submenu-title">Часы</div>
									<p>Благодаря обновленной эстетике фирменный стиль Furla сочетает в себе лаконичность и минималистичную элегантность. Эти сумки сидят точно по фигуре, как сшитый на заказ костюм.</p>
									<a href="" class="btn">купить</a>
								</div>
							</div>
						</li>
						<li>
							<a href=""><span class="button-title">Для женщин</span></a>
							<div class="submenu-inner-wrap">
								<div class="submenu-wrap">
									<div class="submenu-title">Для женщин</div>
									<ul>
										<li><a href="">Сумки</a></li>
										<li><a href="">Клачи</a></li>
										<li><a href="">Кросбоди</a></li>
										<li><a href="">Рюкзаки</a></li>
										<li><a href="">Тоуты</a></li>
										<li><a href="">Hobo</a></li>
										<li><a href="">Косметички</a></li>
									</ul>
								</div>
								<div class="submenu-info-wrap">
									<div class="elm-photo">
										<img src="./img/submenu.jpg" alt="">
									</div>
									<div class="submenu-title">Для женщин</div>
									<p>Благодаря обновленной эстетике фирменный стиль Furla сочетает в себе лаконичность и минималистичную элегантность. Эти сумки сидят точно по фигуре, как сшитый на заказ костюм.</p>
									<a href="" class="btn">купить</a>
								</div>
							</div>
						</li>
						<li>
							<a href=""><span class="button-title">Для мужчин</span></a>
							<div class="submenu-inner-wrap">
								<div class="submenu-wrap">
									<div class="submenu-title">Для мужчин</div>
									<ul>
										<li><a href="">Сумки</a></li>
										<li><a href="">Клачи</a></li>
										<li><a href="">Кросбоди</a></li>
										<li><a href="">Рюкзаки</a></li>
										<li><a href="">Тоуты</a></li>
										<li><a href="">Hobo</a></li>
										<li><a href="">Косметички</a></li>
									</ul>
								</div>
								<div class="submenu-info-wrap">
									<div class="elm-photo">
										<img src="./img/submenu.jpg" alt="">
									</div>
									<div class="submenu-title">Для мужчин</div>
									<p>Благодаря обновленной эстетике фирменный стиль Furla сочетает в себе лаконичность и минималистичную элегантность. Эти сумки сидят точно по фигуре, как сшитый на заказ костюм.</p>
									<a href="" class="btn">купить</a>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="menu-actions-wrap">
					<ul class="menu">
						<li>
							<a href="" class="btn-menu">
								<span class="button-ico">
									<img src="./img/icons/menu-user.svg" alt="">
								</span>
								<span class="button-title">Войти / Зарегистрироваться</span>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-ico">
									<img src="./img/icons/menu-callback.svg" alt="">
								</span>
								<span class="button-title">Свяжитесь с нами</span>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-ico">
									<img src="./img/icons/menu-lang.svg" alt="">
								</span>
								<span class="button-title">Россия</span>
							</a>
						</li>
						<li class="menu-sep">
							<a href="" class="btn-menu">
								<span class="button-ico">
									<img src="./img/icons/menu-chat.svg" alt="">
								</span>
								<span class="button-title">Руссский</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- /header -->