
<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="header-main-panel">
			<div class="logo-wrap">
				<a href="" class="logo">
					<img src="./img/main/logo.svg" alt="">
				</a>
			</div>
			<div class="actions-wrap actions-locale">
				<div class="action-wrap action-lang">
					<a href="" class="btn-action-lang">
						<span class="button-ico">
							<img src="./img/icons/lang.svg" alt="">
						</span>
						<span class="button-title">ru</span>
					</a>
				</div>
				<div class="action-wrap action-select js-popup-wrap">
					<a href="" class="btn-action-toggle btn-popup-open js-btn-popup-toggle">Русский</a>
					<div class="popup-content-block js-popup-block">
						<ul class="menu">
							<li><a href="">English</a></li>
							<li><a href="">Русский</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="actions-wrap actions-main">
				<div class="action-wrap action-search">
					<a href="" class="btn-action-ico ico-search"></a>
				</div>
				<div class="action-wrap action-location">
					<a href="" class="btn-action-ico ico-location"></a>
				</div>
				<div class="action-wrap action-user">
					<a href="" class="btn-action-ico ico-user"></a>
				</div>
				<div class="action-wrap action-cart">
					<a href="" class="btn-action-ico ico-cart" data-count="10"></a>
				</div>
			</div>
		</div>
		<div class="header-menu-panel main-menu-wrap js-popup-wrap">
			<a href="" class="btn-action-ico ico-menu btn-popup-open js-btn-popup-toggle"></a>
			<div class="popup-content-block js-popup-block">
				<div class="menu-wrap">
					<ul class="menu">
						<li>
							<a href="">New in</a>
						</li>
						<li>
							<a href="">Сумки</a>
							<ul>
								<li><a href="">Пункт меню</a></li>
								<li><a href="">Пункт меню</a></li>
								<li><a href="">Пункт меню</a></li>
								<li><a href="">Пункт меню</a></li>
							</ul>
						</li>
						<li>
							<a href="">Обувь</a>
							<ul>
								<li><a href="">Пункт меню</a></li>
								<li><a href="">Пункт меню</a></li>
								<li><a href="">Пункт меню</a></li>
								<li><a href="">Пункт меню</a></li>
							</ul>
						</li>
						<li>
							<a href="">Часы</a>
							<ul>
								<li><a href="">Пункт меню</a></li>
								<li><a href="">Пункт меню</a></li>
								<li><a href="">Пункт меню</a></li>
								<li><a href="">Пункт меню</a></li>
							</ul>
						</li>
						<li>
							<a href="">Для женщин</a>
							<ul>
								<li><a href="">Пункт меню</a></li>
								<li><a href="">Пункт меню</a></li>
								<li><a href="">Пункт меню</a></li>
								<li><a href="">Пункт меню</a></li>
							</ul>
						</li>
						<li>
							<a href="">Для мужчин</a>
							<ul>
								<li><a href="">Пункт меню</a></li>
								<li><a href="">Пункт меню</a></li>
								<li><a href="">Пункт меню</a></li>
								<li><a href="">Пункт меню</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="menu-actions-wrap">
					<ul class="menu">
						<li>
							<a href="" class="btn-menu">
								<span class="button-ico">
									<img src="./img/icons/menu-user.svg" alt="">
								</span>
								<span class="button-title">Войти / Зарегистрироваться</span>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-ico">
									<img src="./img/icons/menu-callback.svg" alt="">
								</span>
								<span class="button-title">Свяжитесь с нами</span>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-ico">
									<img src="./img/icons/menu-lang.svg" alt="">
								</span>
								<span class="button-title">Россия</span>
							</a>
						</li>
						<li class="menu-sep">
							<a href="" class="btn-menu">
								<span class="button-ico">
									<img src="./img/icons/menu-chat.svg" alt="">
								</span>
								<span class="button-title">Руссский</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- /header -->